<h3>A new project has been created in Ganban</h3>

<h5>Head over to <a href="https://whispering-anchorage-97578.herokuapp.com">Ganban</a> now</h5>
<h5> Completion is expected   <%= Sprint.end_time %></h5>


<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to https://whispering-anchorage-97578.herokuapp.com, </h1>
  </body>
</html>
