<h3>A new project has been created in Ganban</h3>

<h5>Head over to <a href="localhist:3000">Ganban</a> now</h5>
<h5> Completion is expected   <%= Sprint.end_time %></h5>


<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to localhost:3000, </h1>
    <p>
      You have successfully signed up to localhost:3000,
      your username is: .<br>
    </p>
    <p>
      To login to the site, just follow this link:.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
