
 <!-- <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
 <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->


<style>
  body{
  #  background-color: powderblue;
  }
.col-md-3{
height: 600px;
border-radius: 3px;
text-align: center;
# background-color: powderblue;
}
</style>

<script>
    function dragStart(event) {
      event.dataTransfer.setData("Text", event.target.id);
      document.getElementById("demo").innerHTML = "Started to drag the p element";
    }

    function allowDrop(event) {
      event.preventDefault();
    }

    function drop(event) {
      event.preventDefault();
      var data = event.dataTransfer.getData("Text");
      event.target.appendChild(document.getElementById(data));
      document.getElementById("demo").innerHTML = "The p element was dropped";
    }
</script>


<div class="container">

  <div class="row" style="text-align:center;background: rgba(240, 240, 240, 0.5);" >


    <div class="col-md-3" style="border: 1px solid grey;" ondrop="drop(event)" ondragover="allowDrop(event)"><h3>To Do</h3><hr>


    </div>

    <div class="col-md-3" style="border: 1px solid grey;" ondrop="drop(event)" ondragover="allowDrop(event)"><h3>In Progress</h3><hr></div>
    <div class="col-md-3" style="border: 1px solid grey;" ondrop="drop(event)" ondragover="allowDrop(event)"><h3>Testing</h3><hr></div>
    <div class="col-md-3" style="border: 1px solid grey;" ondrop="drop(event)" ondragover="allowDrop(event)"><h3>Complete</h3><hr></div>
  </div>


</div> <!-- /container -->

</div>

</div>
